@import './grid';
@import './mixin';
@import './reset';
@import './variables';
@import './grid-test';

.bg--about {
    background: #f3f3f3;
}
section {
    padding: 100px 0;
    h1 {
        color: $dark-green;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin: 0 auto 130px;
        letter-spacing: 2px;
    }
    h2 {
        color: $secondary-green;
        margin: 0 0 18px;
    } 
    p {
        color: $dark-gray;
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
    }
}
.about-1 {
    padding: 20px 0 40px;
    &--icon-1 {
        text-align: end;
    }
} 
.about-2 {
    padding: 20px 0 40px;
    &--icon-2 {
        text-align: start;
    }
}
.about-3 {
    padding: 20px 0 40px;
    &--icon-3 {
        text-align: end;
    }
}
/*
.icon-1, .icon-3 {
    text-align: end;
}
.icon-2 {
    text-align: start;
}
*/
.anima-1, 
.anima-3 {
    //width: 30%;
    opacity: 0;
    transform: translateX(-520px);
    transition: all 0.9s ease-in-out;  
}
.anima-2 {
    //width: 30%;
    text-align: end;
    opacity: 0;
    transform: translateX(520px);
    transition: all 0.9s ease-in-out;  
}

//class added/removed by Javascript
.active-about {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: $grid__bp-lg * 1px) {
    /*
    .about__1 {
        flex-direction: column-reverse;
    }
    .about__2 {
        flex-direction: column;
    }
    .about__3 {
        flex-direction: column;
    }
    .icon-1, .icon-3 {
        justify-content: center;
    }
    .icon-2 {
        text-align: center;
    }
    section h2 {
        margin: 20px 0 18px;
    }
    */
    section h2 {
        margin: 25px 0 18px;
    }
    .about-1 {
        padding: 20px 0 40px;
        &--icon-1 {
            text-align: center;
        }
    } 
    .about-2 {
        padding: 20px 0 40px;
        &--icon-2 {
            text-align: center;
        }
    }
    .about-3 {
        padding: 20px 0 40px;
        &--icon-3 {
            text-align: center;
        }
    }
}
