@import './grid';
@import './grid-test';
@import './mixin';
@import './reset';
@import './variables';


.bg--article {
    background: url(/img/cow-farm.jpg) no-repeat center;
    width: 100%;
    height: 851px;
    background-size: cover;
    background-attachment: fixed;
}
.article__img--sm {
    display: none;
}
article {
    @include flexCenter (row, space-between);
    padding-top: 230px;
    h1 {
        @include fontSizeBreakpoint (35px, 40px, 50px, 55px, 70px);
        font-family: 'Helvetica', sans-serif;
        color: $white;
        line-height: 1.2;
    }
    h4 {
        @include fontSizeBreakpoint (17px, 18px, 18px, 20px, 20px);
        color: $white;
        max-width: 500px;
        font-weight: 500;
        padding-top: 20px;
        line-height: 1.8rem;
    }
    p {
        @include fontSizeBreakpoint (17px, 18px, 18px, 20px, 20px);
        color: $white;
        font-weight: bold;
        margin-bottom: 12px;
    }
}
.google-store, 
.apple-store {
    &--article{
        width: 130px;
    }
}  

@media (max-width: 1000px) {
    .article__img--lg {
        display: none;
    }
    .article__img--sm {
        display: block;
        position: absolute;
        right: 0;
    }
    .article-col-2 {
        padding-top: 10px;
    }
    article{
        padding-top: 150px;
        flex-direction: column;
    }  
}

