@import './grid';
@import './mixin';
@import './reset';
@import './variables';


.bg--contact {
    background: linear-gradient(180deg, #1DB954 0.49%, #00704A 99.46%);
    } 
  
.contact {
    text-align: center;
    
    h1 {
        color: $white;
        padding: 90px 0 20px;
        font-size: 40px;
    }
    h4 {
        color: $white;
        font-weight: 400;
        margin-bottom: 30px;
    }
    h3 {
        color: $white;
        font-size: 20px;
    }
    p {
        font-size: 16px;
        color: $white;
        margin-bottom: 150px;
    }
}
.grid-contact {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 60px 60px;
    align-items: center;
    i {
        font-size: 50px; //icons
        color: $primary-green;
        padding: 30px 0 30px;
    }
    h3 {
        margin-top: 40px;
    }
}
@media (max-width: 1100px) {
   
    .grid-contact {
        grid-template-columns: 1fr;
        p {
            margin-bottom: 30px;
        }
        &__phone {
            margin-bottom: 100px;
        }
    }
}

