@import './mixin';
@import './reset';
@import './variables';

/*
.container  {
    width: 100%;
    margin: 0 auto;
}
*/

//GRID 12 COLUMNS
$grid-col: 12;
@function width-column($col) {
    @return percentage($col / $grid-col) ;
}
@for $i from 1 through $grid-col {
    .col-#{$i} {
        flex: width-column($i);
        width: 100%;
    }
}


//RESPONSIVITY LAYOUT GRID
@media (max-width: 580px) {
    
    .bg-img {
        background: url(/img/cow-farm.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        width: auto;
        height: 650px;
    }
    .bg-img-1 {
        background: url(/img/bg-app-2.png) no-repeat center;
        width: 100%;
        height: 851px;
        background-size: cover;
        background-attachment: fixed;
    }
    .cta-1 {
        display: block;
        width: 10 0%;
        font-size: 14px;
        padding: 20px 30px;
    }
    main {
        padding-top: 130px;
    }
 
    .products h1 {
        margin: 40px auto 15px;
        font-size: 25px;
    }
    .products h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .icon-whats {
        height: 45px;
    }
    .item-contact-3 {
        padding-bottom: 50px;
    }
    .contact h1 {
        color: $primary-green;
        padding: 70px 0 20px;
        font-size: 25px;
    }
    .contact h4 {
        margin-bottom: 20px;
    }      
}


@media (min-width: 320px) {
    .container {
        max-width: 300px;
        width: 100%;
    }
    .icon-whats {
        height: 45px;
    }    
    
    main h3 {
        font-size: 18px;
    }
    /*
    section h1 {
        margin: 0px auto 70px;
        font-size: 40px;
    }
    section p {
        color: #333333;
        font-size: 16px;
    }
    */
    article h1 {
        font-size: 35px;
    }
    .contact h1 {
        font-size: 25px;
        padding: 350px 0 15px;
        padding: 350px 0 15px;
    }
}

@media (min-width: 476px) {
    .container {
        max-width: 460px;
        width: 100%;
    }
    .icon-whats {
        height: 50px;
    }
    article h1 {
        font-size: 35px;
    }
    .contato h1 {
        font-size: 28px;
        padding: 250px 0 15px;
    }
}

@media (min-width: 600px) {
    .container {
        max-width: 580px;
    }
    .icon-whats {
        height: 60px;
    }
    .bg-img {
        background-size: cover;
        background-attachment: fixed;
        width: auto;
    }
    .products h2 {
        font-size: 25px;
        margin-bottom: 35px;
    }
    //.about h2 {
      //  font-size: 25px;
        //color: $secondary-green;
    //}
    article h1 {
        font-size: 40px;
    }
    .contact h1 {
        font-size: 30px;
        padding: 150px 0 15px;
    }
}

@media (min-width: 768px) {
    article h1 {
        font-size: 50px;
    }
    
    .contact h1 {
        font-size: 35px;
        padding: 200px 0 15px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    article h1 {
        font-size: 60px;
    }
    .contact h1 {
        font-size: 35px;
        padding: 100px 0 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }   
}


/*
@media (max-width: 600px) {

    .modal-container {
        display: none;
        position: fixed;
        text-align: center;
        padding-top: 70px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.6);
    }
    .modal-content {
        background-color: $light-gray;
        margin: 10px auto auto;
        padding: 10px;
        border-radius: 2px;
        min-width: 300px;
        max-width: 500px;
        animation: modal 0.7s;
        z-index: 6;
    }
    .modal-content h3 {
        text-align: start;
        margin: 10px;
        color: $dark-green;
        font-size: 14px;
    }
    .label-float {
        position: relative;
        padding-top: 13px;
        margin-top: 10px;
    }
    .btn-modal {
        width: 70%;
        padding: 10px 0;
        font-size: 14px;
    }
}

*/
/*
.flex-main {
    display: flex;
    flex-direction: row;
    margin: 140px 0 160px; 
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
*/


