@import './grid';
@import './mixin';
@import './reset';
@import './variables';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    z-index: 2;
    transition: 0.3s ease;
    &__logo {
        display: block;
        height: 35px;
    }
    &__main {
        background-color: transparent;
        color: #145536;
    }
    &__loan {
        background-color: #145536;
        color: #ffffff;
    }
    &__register {
        background-color: #145536;
        color: #ffffff;
    }    
}
.nav {
    input:checked ~ .hamburger {
        background: transparent;
    }
    input:checked ~ .hamburger:before {
        top: 0;
        transform: rotate(-45deg);   
    }
    input:checked ~ .hamburger:after {
        top: 0;
        transform: rotate(45deg);  
    }
    input:checked ~ .menu {
        right: 0;
        box-shadow: -20px 0 40px  rgba(0,0,0,0.3);
    }
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: 0.5s ease;  
    
    &__nav-link {
        color: $darker-green;
        text-decoration: none;
        display: block;
        padding: 30px 25px;
        font-size: 18px;
        //font-weight: weight(bold);
        line-height: 1;
        transition: 0.3s ease;
        &:hover {
            box-shadow: 0 -5px 0 $secondary-green inset,
            500px 0 0 rgba(255,255,255,0.03) inset;
            padding: 25px 25px 35px 25px;
        }
    }
    &__nav-link--loan {
        color: $white;
        text-decoration: none;
        display: block;
        padding: 30px 25px;
        font-size: 16px;
        font-weight: weight(bold);
        line-height: 1;
        transition: 0.3s ease;
        &:hover {
            box-shadow: 0 -5px 0 $secondary-green inset,
            500px 0 0 rgba(255,255,255,0.03) inset;
            padding: 25px 25px 35px 25px;
        }
    }
    &__nav-link--register {
        color: $white;
        text-decoration: none;
        display: block;
        padding: 30px 25px;
        font-size: 16px;
        font-weight: weight(bold);
        line-height: 1;
        transition: 0.3s ease;
        &:hover {
            box-shadow: 0 -5px 0 $secondary-green inset,
            500px 0 0 rgba(255,255,255,0.03) inset;
            padding: 25px 25px 35px 25px;
        }
    }
    
}

.facebook-icon {
    margin-left: 40px;
    font-size: 25px;
    color: $primary-green;
}

.insta-icon {
    margin-left: 25px ;
    font-size: 25px;
    color: $primary-green;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 2px;
    background: $white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: transform 1s ease;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 2px;
        right: 0;
        background: $white;
        border-radius: 10px;
        transition: transform 1s ease ;
    }
    &:before {
        top: -10px;
        width: 30px;  
    }
    &:after {
        top: 10px;
        width: 30px;  
    } 
}

.toggle-menu {
position: absolute; 
width: 30px;
height: 100%;
z-index: 3;
cursor: pointer;
opacity: 0;  
}

.hamburger,
.toggle-menu {
    display: none;
}

@media screen and (max-width: 992px) {
    .hamburger,
    .toggle-menu {
        display: block;
    }
    .header {
        padding: 20px 20px; 
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -250px;
        background: $dark-green;
        width: 250px;
        height: 100%;
        padding-top: 66px;
        transition: 0.5s ease;
        
        li {
            width: 100%;
        }
        li a:hover {
            padding: 30px;
            font-size: 20px;
            box-shadow: none;
        }
    }
    .facebook-icon {
        position: absolute;
        left: -15px;
        top: 330px;
        color: $secondary-green;
    }
    .insta-icon {
        position: absolute;
        left: 50px;
        top: 330px;
        font-size: 25px;
        color: $secondary-green;
    }
}



