@import './grid';
@import './mixin';
@import './reset';
@import './variables';


.bg--loan {
  background-image: url(/img/bg-right-2colors-2.png);
  //background-color: $white;
  background-repeat: no-repeat;
  background-position: 40px -300px;
  background-size: cover;
  //background: linear-gradient(180deg, #1DB954 0.49%, #00704A 99.46%);
  padding-top: 30px;
} 
.loan__header {
  position: fixed;
  top: 75px;
  display: flex;
  color: #333333;
  align-items: center;
  justify-content: center;
  background: rgb(255,255,255);
  background: linear-gradient(0deg,
  rgba(255,255,255,1) 0%,
  rgba(140,226,105,1) 5%);  
  height: 50px;
  width: 100%;
  z-index: 1;
}
.loan {
  h2 {
    @include fontSizeBreakpoint(20px, 22px, 28px, 25px, 25px);
    color: #1DA042;
    text-align: center;
    font-weight: 600;
    margin: 120px auto 0;
  }
  h3 {
    @include fontSizeBreakpoint(16px, 18px, 20px, 22px, 25px);
    
  }
  h4 {
    @include fontSizeBreakpoint(14px, 15px, 16px, 18px, 18px);
    width: 90%;
    color: #333333;
    text-align: center;
    font-weight: 400;
    opacity: 0.9;
    margin: 10px auto 10px;
  }
}
.container__row--loan{
  justify-content: space-between;
  padding: 10px 15px 100px;
}

.loan__col-1 {
  padding: 10px 20px 0 0;
  margin: 0 auto 20px;
  width: auto;
  max-width: 500px;

  label {
    display: block;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
  }
  &--integradora{font-family: "Montserrat";
    width: 100%;
    height: 40px;
    margin: 20px auto 0;
    padding: 0 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid  rgba(140,226,105,0.8);  
    border-radius: 5px;
  }
  &--date {
    font-family: "Montserrat";
    width: 100%;
    height: 40px;
    margin: 20px auto 0;
    padding: 0 10px;
    font-size: 16px;
    color: #333333;
    border: 1px solid  rgba(140,226,105,0.8);  
    border-radius: 5px;
  }
  &--amount,
  &--installment {
    color: #1DA042;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 600;
    small {
      color: #333333;
      font-size: 16px;
      font-weight: 700;
    }
  }
  &--slider {
    -webkit-appearance: none;
    width: 65%;
    margin-top: 30px;
    height: 1px;
    border-radius: 5px;
    background: #1DA042;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &:hover {
      opacity: 1;
    }
  }
  &--slider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:#3dd969;
    cursor: pointer;
  } 
}
.loan__col-2  {
  background-color: $white;
  box-shadow: -2px 1px 8px 2px rgba(0,0,0,0.27);
  border-radius: 3px;
  //box-shadow: -2px 4px 14px -6px rgba(0,0,0,0.64);
  padding: 10px 20px 30px;
  margin: 35px auto 20px;
  width: auto;
  max-width: 400px;
  text-align: center;
  align-items: center;
  @media (max-width: 992px) {
    margin: 70px auto 70px;
  }
  label {
    display: block;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    strong {
      font-size: 20px;
    }
  }
  &--installment-value {
    margin-top: 10px;
    font-size: 45px;
    font-weight: 600;
    color: #3DD969;
  }
  &--observation {
    width: 260px;
    margin: 130px auto 0;
    font-size: 12px;
  }
  &--cta-2 {
    position: relative;
    top: 60px;
    max-width: 450px;
    min-width: 250px;
    padding: 16px 50px;
    color: #1DA042;
    box-shadow: -2px 4px 14px -6px rgba(0,0,0,0.3);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease; 
    
  }
  form:valid &--cta-2 {
      background: #3DD969;
      color: #fff;
      &:hover {
        background-color: #145536;
      } 
  }
  
  
}
/*
@media (max-width: 1200px) {
  
  .adequacao {
    margin: 0px auto 70px;
  }
  .flex-main-adequacao {
    flex-direction: column;
  }
  .item-1 {
    text-align: center;
    width: 95%;
    margin: 0 auto;
  }
  .item-2 {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .adequacao h2 {
    font-size: 25px;
  }
  .adequacao h3 {
    font-size: 20px;
  }
  .adequacao h4 {
    width: 100%;
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
    margin: 20px auto 0;
  }
  .valor-parcela {
    margin-top: 20px;
    font-size: 35px;
    color: #3DD969;
  }
  .obs {
    margin: 0 auto 0;
  }
}
*/













