//@import './grid';
@import './mixin';
@import './reset';
@import './variables';


.bg-main {
  background: url(/img/cow-2-sunset-raw.png);
  background-repeat: no-repeat;
  height: 970px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px -90px;
}
main {
  padding-top: 200px;
    h1 {
      @include fontSizeBreakpoint (40px, 3 0px, 50px, 55px, 60px);
      text-align: start;
      //font-family: 'Helvetica';
      font-weight: weight (bold);
      color: $white;
      line-height: 1.1;
  }
    h2 {
      @include fontSizeBreakpoint (25px, 30px, 33px, 36px, 40px);
      text-align: start;
      //font-family: 'Helvetica';
      margin-top: 5px;
      color: $white;
      letter-spacing: 0;
      line-height: 1.5;
  }
    h4 {
      @include fontSizeBreakpoint (17px, 18px, 18px, 20px, 20px);
      text-align: start;
      color: $white;
      max-width: 500px;
      font-weight: 500;
      padding: 20px 0 90px;
      line-height: 1.8rem;
  }
    p {
      @include fontSizeBreakpoint (17px, 18px, 18px, 20px, 20px);
      text-align: start;
      color: $white;
      font-weight: bold;
      margin-bottom: 10px;
  }     
}

.cta-1 {
  @include Btn(450px, 20px 40px, 16px);
  z-index: 3;
  
  &:hover {
      background: $darker-green;
  } 
}

//EFEITO TYPEWRITER
#typewriter:after {
    content: '|';
    margin-left: 1px;
    opacity: 1;
    color: $white;
    animation: piscar .9s infinite;
}
@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

//EFEITO ARROW-DOWN
.fas.icone {
  font-size: 30px;
  color: $white;
  opacity: 1;
  animation: arrow 1500ms ease-in-out infinite;
}
@keyframes arrow {
  to {
    transform: scale(0.98) translateY(30px);
    opacity: 0.1;
  }
}
.arrow-down {
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 800px) {
  .arrow-down {
    opacity: 0;
  }
}

//ICON WHATS===========================
.icon-whats {
    position:fixed; 
    height:70px; 
    right: 25px; 
    bottom: 25px;
    z-index: 1; 
    
    &:hover {
        animation: whats .1s;
    } 
} 
@keyframes whats {
    from {
        right: 32px;
    }
    to {
        right: 30px;
    }
}
