@mixin flexCenter ($direction: column, $justify-content: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-direction: $direction;
}

@mixin grid ($template-area, $columns) {
    display: grid;
    grid-template-areas: $template-area;
    grid-template-columns: $columns;
}


@mixin Btn ($max-width, $padding, $font-size) {
    background: $primary-green;
    width: 100%;
    max-width: $max-width;
    text-align: center;
    padding: $padding;
    color: $white;
    font-size: $font-size;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

@mixin btnMd ($bg, $color, $width, $padding) {
    background-color: $bg;
    color: $color;
    width: $width;
    padding: $padding;
    text-align: center;
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.58);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        box-shadow: -2px 1px 8px 2px rgba(0,0,0,0.27);
    }   
}

@mixin cardsProducts ($grid-area) {
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0.375em 16px 0 rgba(0,0,0,.1);
    height: auto;
    grid-area: $grid-area;
}


@mixin fontSizeBreakpoint ($xs, $sm, $md, $lg, $xl) {
    @media screen and (min-width: 0 * 1px){
        font-size: $xs;
    }    
    @media screen and (min-width: $grid__bp-sm * 1px){
        font-size: $sm;
    }    
    @media screen and (min-width: $grid__bp-md * 1px){
        font-size: $md;
    }    
    @media screen and (min-width: $grid__bp-lg * 1px){
        font-size: $lg;
    }    
    @media screen and (min-width: $grid__bp-xl * 1px){
        font-size: $xl;
    }    
}

