@import './grid';
@import './mixin';
@import './reset';
@import './variables';

.bg-products {
    background: $dark-green;
}
.products {
    padding: 100px 0 120px;

    h2 {
        color:$white;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin: 0 auto 130px;
        letter-spacing: 2px;
    }
}
.grid-cards {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"card1 card2 card3";
    grid-gap: 30px 30px;
    margin-top: 90px;
    transform: scale(0.1);
    transition: all .7s ease-in-out;
    &__card1 {
        @include cardsProducts (card1);
        border-radius: 5px;
    } 
    &__card2 {
        @include cardsProducts (card2);
        border-radius: 5px;
    }
    &__card3 {
        @include cardsProducts (card3);
        border-radius: 5px;
    }
    &__img-1,
    &__img-2,
    &__img-3 {
        padding-top: 60px;
        height: 150px;    
    }
    h3 {
        color: #333333;
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
        margin: 0 15px 0
    }
    p {
        color: #333333;
        font-size: 16px;
        text-align: center;
        padding: 20px 20px;
        margin: 0 20px 30px;
    }
}
.btn-md-products {
    @include btnMd ($primary-green, $white, 60%, 18px 25px);
    margin: 0 auto 50px;
}

/*ANIMATION CARDS */
.active-cards{ 
    opacity: 1;
    transform: scale(1);
}
@media screen and (max-width: 1100px) {
    .grid-cards {
      grid-template-columns: 1fr;
      grid-template-areas:
      "card1"
      "card2"
      "card3"; 
    }
}
  

