@import './grid';
@import './mixin';
@import './reset';
@import './variables';



.container__register {
  background-color: #00270a;
  background-image: url(/img/bird-4.png);
  background-repeat: no-repeat;
  background-position: 0 100px;
  padding: 20px;
}    
.form__register {
    background-color: #ffffff;
    box-shadow: 0 80px 180px 8px rgb(41, 105, 31);
    margin: 120px auto 100px;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    min-width: 300px;
    max-width: 500px;
    z-index: 30;
    h3 {
        text-align: center;
        margin: 30px 25px 0;
        color: 333333;
        font-size: 20px;
        font-weight: bolder;
    }
    
}
.terms-of-use {
    text-align: center;
    //text-decoration: underline;
    font-size: 14px;
    margin-top: 20px;
    a {
        color: #1DA042;
    }
}
    
.btn-modal {
    background: #1DA042;
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.58);
    display: block;
    width: 50%;
    text-decoration: none;
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto 30px;
    
    &:hover {
        box-shadow: -2px 1px 8px 2px rgba(0,0,0,0.27);
    }
}
    
.register__input {
    position: relative;
    padding-top: 13px;
    margin-top: 25px;
    
    input{
    border-bottom: 1px solid #bfb5b5;
    height: 40px;
    width: 85%;
    margin: 5px auto 5px;
    padding-left: 18px;
    display: block;
    color: #333333;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out; 
    }
    input:focus{
    border-bottom: 2px solid#1DA042;
    font-size: 18px;
    }
    input::placeholder{
    color:transparent;
    }
    label{
        pointer-events: none;
        position: absolute;
        top: 7px;
        left: 25px;
        font-size: 15px;
        color: #333333;
        font-weight: bold;
        margin: 28px 0 0 20px;
        transition: all .3s ease-out;
    }
    input:invalid{
        border-bottom: 1px solid #3dd969;
    }
    input:focus + label,
    input:not(:placeholder-shown) + label{
        font-size: 14px;
        margin-top: -8px;
        color: #1DA042;
    }
}    
.nome-completo {
    text-transform: capitalize;
}

