
$primary-green: #3DD969; 
$secondary-green: #1DA042; 
$light-green: #8CE269; 
$dark-green: #0F8D48; 
$dark-gray: #333333; 
$red-alert: #FF5967; 
$light-gray: #F3F3F3;
$white: #FFFFFF; 
$darker-green: #145536;
$light-bg: rgb(255,254,248);

$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "bolder": 800
);
@function weight ($key) {
    @return map-get($font-weight, $key);
}



